<component name="ArtifactManager">
  <artifact type="war" name="SpringCloudTest:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringCloudTest.war">
      <element id="artifact" artifact-name="SpringCloudTest:war exploded" />
    </root>
  </artifact>
</component>